<div class="container-fluid header templateBG" style="margin-top:-20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img ng-src="images/Profile.JPG" class="img-circle center-block" style="width:150px;display:none;">
            </div>
            <div class="col-xs-12 col-sm-9 text-right">
                <h1>Software Engineer</h1>
                <h3>Jesus Alfredo Pacheco Figueroa</h3>
                <a href="mailto:j.alfredo.pacheco@gmail.com">j.alfredo.pacheco@gmail.com</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h5>Profile</h5>
        <div class="col-xs-12">
            <p>I am a full-stack systems developer, mostly at Front-End side. I am a self-taught person always looking for optimization, efficiency and well-done coding structure. I can adapt myself to new technologies, frameworks and methodologies if you should need so. I would like to participate on a dedicated Software Company in order to learn about the best practices when doing systems on big teams. </p>
        </div>
    </div>
    <div class="row">
        <h5>Education</h5>
        <div class="col-xs-12">
            "Ingeniero en Sistemas Computacionales" at <a target="_blank" href="http://www.itcj.edu.mx/">Instituto Tecnologico de Ciudad Juarez</a>
        </div>
    </div>
    <div class="row">
        <h5>Courses</h5>
        <div class="col-xs-12">
            <p>Taken in <a target="_blank" href="http://www.educacionit.com/">Educacion IT:</a></p>
            <ul>
                <li>
                    <a target="_blank" href="https://alumni.educacionit.com/user/diploma/id/0/type/aprob/dip/5035RW43O6G37H8B9HNCKB1Y7RE0KR4">Java Standard Programming, J2SE 6.0 (40hs)</a>
                </li>
                <li>
                    <a target="_blank" href="https://alumni.educacionit.com/user/diploma/id/0/type/aprob/dip/531411R0D5065MBREP2EF79RATP8X8B">Java Advanced Programming: Threads & Networking, J2SE 6.0 (18hs)</a>
                </li>
                <li>
                    <a target="_blank" href="https://alumni.educacionit.com/user/diploma/id/0/type/aprob/dip/531884IF70W5S4S0RWGOFP270DY1AS2">Java Web: Servlets, JSP, JSTL, Struts & AJAX (30hs)</a>
                </li>
                <li>
                    <a target="_blank" href="https://alumni.educacionit.com/user/diploma/id/0/type/aprob/dip/53193R76Q78L9Q3M318V2933U9Z5QFX">UML y UP: Análisis y Diseño Orientado a Objetos (15hs)</a>
                </li>
                <li>
                    <a target="_blank" href="https://alumni.educacionit.com/user/diploma/id/0/type/aprob/dip/6287HQZ6TN4J65F16B0K406TO9Q1M86">Java Web Services (12hs)</a>
                </li>
                <li>
                    <a target="_blank" href="https://alumni.educacionit.com/user/diploma/id/0/type/aprob/dip/5322EA391UDV1PC2IDKS4XQRR38GV97">Java HIBERNATE (21hs)</a>
                </li>
                <li>
                    <a target="_blank" href="https://alumni.educacionit.com/user/diploma/id/9354O46H6Q1V07361UIK5IFV198H60B/type/asist">Java Mobile (15hs)</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h5>Some Books/Resources Read</h5>
        <div class="col-xs-12">
            <ul>
                <li><a href="http://www.amazon.com/AngularJS-Brad-Green/dp/1449344852">AngularJS (Brad Green &amp; Shyam Seshadri)</a></li>
                <li><a href="http://www.amazon.com/Thinking-Java-Edition-Bruce-Eckel/dp/0131872486">Thinking in Java (Bruce Eckel)</a></li>
                <li><a href="http://www.javascriptenlightenment.com/JavaScript_Enlightenment.pdf">JavaScript Enlightenment (Cody Lindley)</a></li>
                <li>80% of courses under <a href="http://www.w3schools.com/">w3schools.com</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h5>Skills</h5>
        <div class="col-xs-12 col-sm-6">
            <h6>Programming Languages</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="width:150px;"></td>
                        <td style="text-align:center;"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:right;">Javascript</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">90%</span>90%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">C#</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80%</span>80%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Java</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80%</span>80%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">VBA</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80%</span>80%
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6>Front-End</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="width:150px;"></td>
                        <td style="text-align:center;"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="https://angularjs.org/">AngularJS</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">90%</span>90%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="http://enyojs.com/">EnyoJS</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">90%</span>90%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                    <span class="sr-only">95%</span>95%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="https://jquery.com/">jQuery</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                    <span class="sr-only">95%</span>95%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="https://www.w3.org/html/">HTML</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                    <span class="sr-only">95%</span>95%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="https://www.w3.org/Style/CSS/">CSS</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">90%</span>90%
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h6>Database</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="width:150px;"></td>
                        <td style="text-align:center;"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:right;">SQL Server</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                    <span class="sr-only">75%</span>75%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">PostgreSQL</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                    <span class="sr-only">75%</span>75%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">MongoDB</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                    <span class="sr-only">65%</span>65%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">MS Access</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">90%</span>90%
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6>Tools I use nowadays</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="width:150px;"></td>
                        <td style="text-align:center;"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="https://git-scm.com/">Git</a> and <a target="_blank" href="https://github.com/">GitHub</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                    <span class="sr-only">85%</span>85%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="http://www.sublimetext.com/">Sublime Text</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                    <span class="sr-only">45%</span>45%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="https://www.visualstudio.com/">Visual Studio</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="sr-only">100%</span>100%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="http://yeoman.io/">Yeoman</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80%</span>80%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="http://gruntjs.com/">Grunt</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80%</span>80%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="http://bower.io/">Bower</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                    <span class="sr-only">95%</span>95%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="https://trello.com/">Trello</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80%</span>80%
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6>Idioms</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="width:150px;"></td>
                        <td style="text-align:center;"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:right;">Technical English</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                    <span class="sr-only">75%</span>75%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"><a target="_blank" href="https://www.duolingo.com/alfredoPacheco">Colloquial English</a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                    <span class="sr-only">45%</span>45%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Spanish (Native)</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="sr-only">100%</span>100%
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h5>Latest Projects</h5>
        <div class="col-xs-12">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td><a target="_blank" href="https://github.com/inspiraCode/IQS">IQS</a></td>
                        <td>Integrated Quotation System. It is a system for processing customer's requests for quotations, it calculates prices and finally respond back in a summarized letter. <a target="_blank" href="https://trello.com/b/Z5Hg6jtK/iqs-system">This system is still in progress.</a></td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/inspiraCode/APQM">APQM</a></td>
                        <td>Advanced Purchasing Quote Management. This is a system for submitting RFQs (Request for quotes) to vendors via email, and gather their responses, comparing multiple quotations, and allows selecting the best vendor based on delivery times and lower costs.</td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/diego-torres/SISOPREGA">SISOPREGA</a></td>
                        <td>Sistema de Soporte al Proceso de Exportacion Ganadera. System for controlling the inventory and the operations flow for exporting/buying/selling livestock between Mexico and USA.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h5>About me</h5>
        <div class="col-xs-12">
            <p>Hi. I have been programming for 10 years now. At my beginnings, I started with Visual Basic 6.0 where I learned the basics and began loving to code, then, it costed a little bit for me to migrate from <b><i>event-driven programming</i></b> to <b><i>object-oriented programming</i></b>, but finally I did it through Java after reading <a href="http://www.amazon.com/Thinking-Java-Edition-Bruce-Eckel/dp/0131872486">Thinking in Java</a>. Of course, this is not the only book I have read, but I mentioned it on here because it is like a personal milestone where I did realize that there are better ways for writing code. Then I reinforced my knowledge by taking some courses at Educacion IT.</p>
            <p>Technology is growing rapidly and I have understood that a programmer has to be always up to date. Now it is a habit for me to spend one or two hours per day on learning new stuff regarding code, technology and frameworks. Even though I had no chance to be an official programmer since my first jobs (but as Technical Support), I have been doing apps or tools to help me in almost all my jobs, as well as making software by myself after working hours on my free time.</p>
            <p>Currently, I have the great opportunity of doing what I like to do, I work for a company as a Software Developer, where I am currently using AngularJS for Front-End and ASP.NET Web API (with C#) on Back-End. I already finished the first system (one year of development), and the second one is almost over (also, one year of development now).</p>
        </div>
    </div>
</div>
